.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* media per schermi < 420px */
@media screen and (max-width: 420px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* css media generale */
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 25px;
    margin-top: 10px;
  }
  .row {
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  /* /css media generale */

  /* css media lezioni */
  #lezioni {
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
  }
  #lezioni .row > .left,
  #lezioni .row > .right {
    float: none;
    width: 80%;
    margin: 25px 0;
    text-align: left;
  }
  #lezioni .row img {
    height: 100px;
    margin-left: 0
  }
  /* /css media lezioni */

  /* css media steps */
  #steps {
    border-bottom: 2px solid #000000;
    padding-bottom: 20px;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    float: none;
    width: 80%;
    margin: 25px auto;
    text-align: center;
  }
  #steps img {
    height: 100px;
  }
  /* /css media steps */

  /* css media why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    float: none;
    width: 80%;
    margin: 25px auto;
    text-align: center;
  }
  #why .row img {
    height: 100px;
  }
  #why .row hr {
    margin-top: 15px;
  }
  /* /css media why */

}
/* /media per schermi < 420px */

/* css media per schermi >768<1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* css ipad generale */
  * {
    font-family: 'Roboto', sans-serif;
  }
  body {
    background-color: #29282f;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  #lezioni .row,
  #steps .row,
  #why .row {
    width: 100%;;
  }
  h1 {
    font-size: 40px;
    color: #7c2915;
    text-transform: uppercase;
  }
  h3 {
    color: #bf6e5a;
    font-size: 30px;
  }
  p {
    color: #8694a8;
    font-size: 25px;
  }
  .flt-lft {
    float: left;
  }
  .clearfix::after {
    content: '';
    display: table;
    clear: both;
  }
  /* /css ipad generale */

  /* css ipad lezioni */
  #lezioni {
    padding: 10px;
    border-bottom: 1px solid red;
  }
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    text-align: left;
  }
  #lezioni .left {
    margin-bottom: 20px;
  }
  #lezioni .image-side,
  #lezioni .text-side {
    width: 50%;
  }
  #lezioni .image-side > img {
    height: 150px;
    vertical-align: middle;
  }
  #lezioni .text-side h3 {
    margin: 0 0 20px 0;
  }
  #lezioni .text-side p {
    margin: 0 0 30px 0;
  }
  /* /css ipad lezioni */

}
/* /css media per schermi >768<1024 */
